<p id="notice"><%= notice %></p>

<h2>Your Cart</h2>
<ul>
  <% @cart.line_items.each do |item| %>
    <li><%= item.device.name %> with <%= item.template_volume.name %></li>
  <% end %>
</ul>

<%= button_to 'Empty cart', @cart, method: :delete, data: { confimr: 'Are you sure?' } %>
